body {
  background: #fff;
}
.profile-box {
  padding: 40px;
  background-color: #e9e5e5;
  position: relative;
  border-radius: 10px;
  height: 150px;
}
.profile-icon {
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid #9c9a9a;
  position: absolute;
  transform: translate(100%, -100%);
}
.profile-icon img {
  height: 100%;
  width: 100%;
}
.profile-box p {
  font-size: 14px;
}
.dashboard-time-display {
  padding: 30px;
  background: #000;
  height: 150px;
}
.dashboard-time-display h1 {
  color: #fff;
}
.dashboard-time-display h4 {
  color: #9c9c9c;
}
.dashboard-time-display span {
  position: fixed;
}
.total-money-box {
  padding: 30px;
  background-color: #e9e5e5;
  border-radius: 10px;
  height: 150px;
}
